
.wrapper {
    width: clamp(200px, 50vw, 450px);
    max-height: 100%;
    height: 100vh;
    background: var(--fabric-background-primary);
    margin-left: auto;
    border-radius: 5px;
    box-shadow: var(--fabric-boxshadow);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;

    position: absolute;
    right: 0;


}

.header {
    font-family: "Roboto";

    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 550;
    color: var(--fabric-color-primary);
}

.row {
    user-select: none;
    padding: 4px;
    cursor: pointer !important;
    transition: 150ms linear;
}

.row:hover {
    border-color: var(--fabric-accent-color);

}

.row:active {
    border-color: var(--fabric-accent-color);
    background: var(--fabric-background-tertiary);
    transform: scale(.99);
}


.overflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.rowColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    gap: 4px;
}

.columnLabel {
    font-size: .75rem;
    color: var(--fabric-color-quaternary);
}

.rows {
    position: relative;
    display: grid;
    align-content: flex-start;

    overflow-y: auto;
    height: 100%;
    width: 100%;

}

.hoveredRow {
    background: var(--fabric-background-quaternary);
    border-color: var(--fabric-accent-color);
    border-style: solid;
}


.emptyRow {
    color: var(--fabric-color-quinary);
}

.empty{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;

    border-radius: 5px;
    background: var(--fabric-border-primary);

    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--fabric-color-primary);
}
.headerButton {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;

    padding: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fabric-border-primary) !important;
}


.headerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainRow {
    background: var(--fabric-background-tertiary);
}