
.listRow {
    height: fit-content;
    position: relative;

    cursor: pointer;


}


.animation{
    animation: pop 150ms ease forwards;
    opacity: 0;
}

@keyframes pop {
    0%{
        transform: scale(.5);
        opacity: 0;

    }
    50%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.row {
    user-select: none;
    padding: 4px;
    cursor: pointer !important;
    transition: 150ms linear;

    width: 100% !important;
}

.row:hover {
    border-color: var(--fabric-accent-color);

}

.row:active {
    border-color: var(--fabric-accent-color);
    background: var(--fabric-background-quaternary) !important;

}


.dropdown {
    width: clamp(25px, 7%, 35px);
    height: 100%;
    padding: 0 !important;


    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute !important;

    box-shadow: var(--fabric-boxshadow);
    right: 0;

    transform: translateX(calc(100% - 8px));
}

.dropdown[data-open = 'true'] {
    transform: translateX(0);


    box-shadow: var(--fabric-boxshadow);
}

.dropdown:hover {
    transform: translateX(0);
}

.options {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 150px;
    min-height: 65px;
    background: var(--fabric-background-secondary);
    box-shadow: var(--fabric-boxshadow);


}

.card{

    height: 35px;
    width: 35px;
    bottom: 4px;
    right: 4px;

    transform: none;

}