
.modal {
    overflow: hidden;
    background-color: var(--fabric-background-primary);

    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 45%;
    padding: 8px;
    box-shadow: var(--fabric-boxshadow);
}

.contentWrapper {
    display: grid;
    gap: 8px;

    margin-top: 16px;

    align-content: flex-start;
    height: 100%;

    width: 100%;
}

.content {
    display: grid;
    gap: 4px;
    height: 100%;

    color: var(--fabric-color-secondary);
    font-size: .8rem;


    overflow-y: auto;
}

.fieldRow {
    max-width: 100%;
    overflow: hidden;
    height: 35px;
    position: relative;


    border-bottom: var(--fabric-border-primary) 1px solid;
    padding: 8px;

    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: auto;*/

    user-select: none;

    transition: 150ms linear;
}

.fieldRow:hover {
    border-color: var(--fabric-accent-color);
}

.fieldLabel {
    max-width: 50%;

    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 550;
    color: var(--fabric-color-tertiary);
    font-size: .75rem;

}

.visibilityButton {

    display: flex;
    align-items: center;
    justify-content: center;

}


.header {
    font-weight: 600;
    color: var(--fabric-color-secondary);
}

.range {
    /*max-width: */
}