.wrapper {
    width: 100%;

    height: fit-content;
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    border-radius: 5px;
    padding: 4px;
    background: var(--fabric-background-secondary);
    color: var(--fabric-color-secondary);
}

.nav {
    height: 30px;
    width: 30px;
    padding: 0px !important;

    background: var(--fabric-border-primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav:disabled {
    color: #999999 !important;
    background: unset !important;
}


.cell {
    text-align: left;
    font-size: .8rem;
    font-weight: 550;


    display: flex;
    align-items: center;
}

.group {
    display: flex;

}