.wrapper {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    min-width: 25px;
    min-height: 25px;
}

.wrapper[data-size='medium'] {
    width: 65px;
    height: 65px;

    min-width: 65px;
    min-height: 65px;
}

.wrapper[data-size='big'] {
    width: 100px;
    height: 100px;

    min-width: 100px;
    min-height: 100px;
}

.img {
    height: 100%;
}