.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--fabric-background-tertiary);
}

.inputs {
    width: clamp(100px, 25%, 350px);
    height: fit-content;
    background: var(--fabric-background-primary);
    overflow: hidden;
    padding: 12px;
    border-radius: 5px;


    display: grid;
    align-content: flex-start;
    justify-items: center;

    position: relative;

    box-shadow: var(--fabric-boxshadow);
}

.button {
    width: calc(100% - 16px);
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;

}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logo {
    width: 50%;
}

.hideButton {
    width: 35px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.inline {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}